@using University.Entities;
@using University.ExtensionMethods;
@{
    User loggedUser = this.ViewContext.HttpContext.Session.GetObject<User>("loggedUser");
}
<html>
<head>
    <title>@ViewData["title"]</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="container header">
        <h1 class="title">Exam Database</h1>
    </div>
    <div class="container">
        <ul class="menu">
            <li><a href="/Home/Index">HOME</a></li>
            <li><a href="/Users/Index">Professors</a></li>
            <li><a href="/Exam/Index">EXAMS</a></li>
            @if (loggedUser != null)
            {
                <li><a href="/Subjects/Index">SUBJECTS</a></li>
                <li><a href="/Home/Logout">LOGOUT</a></li>
            }
            else
            {
                <li><a href="/Home/Login">LOGIN</a></li>
            }
        </ul>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>